body {
    background-color: #030030;
    color: #ffffff;
}

h1,h2,h3,h4,h5,h6 {
    color: #ffffff;
    font-family: 'Lora', serif;
}

p{
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.darktheme{
  background-color: #030030;
  color: #ffffff;
}
